.search-container {
    text-align: left;
    margin-top: 80px;
    margin-left: 20px;
}

.search-input-label {
    display: block;
    margin-bottom: 5px;
    font-size: 30px;
}

.search-input {
    width: 600px;
    height: 15px;
    font-size: 16px;
    padding: 10px;
}

.search-button {
    background-color: #f65261;
    color: white;
    padding: 10px 40px;
    margin-left: 10px;
    cursor: pointer;
}