.page-container {
    display: flex;
    gap: 8px;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: relative;
    background-color: #555555;
    margin: 0px;
    justify-content: top;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.body-container {
    background-color: #232323;
    border: 1px solid #424242;
    border-color: black;
    width: 60%;
    height: 70%;
    padding: 10px 60px 20px;
}

.search-bar {
    display: flex;
    gap: 30%;
}

.body-container hr {
    border: none;
    height: 2px;
    background-color: #424242;
}

.movie-tile-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 30px;
    justify-content: space-between;
}
