.search-container {
    background-color: #232323;
    border: 1px solid #424242;
    border-color: black;
    width: 60%;
    height: 30%;
    margin-top: 40px;
    padding: 40px 60px 80px;
}

.search-input-label {
    display: block;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 30px;
    color: white;
}

.search-input {
    background-color: #424242;
    border: 1px solid #555555;
    width: 70%;
    height: 15px;
    font-size: 16px;
    padding: 10px;
    color: white;
}

.search-input::placeholder {
    color: white;
    opacity: 0.3;
}

.search-button {
    background-color: #f65261;
    color: white;
    padding: 10px 40px;
    margin-left: 10px;
    cursor: pointer;
}

.add-movie-container {
    display: flex;
}

.add-movie-button {
    background-color: #424242;
    color: #f65261;
    padding: 10px 10px;
    cursor: pointer;
    margin-left: auto;
}