.genre-container {
    display: flex;
    margin-top: 10px;
}

.genre-button {
    background-color: #232323;
    border: 0px;
    margin-right: 5px;
    font-weight: 100;
    cursor: pointer;
    color: white;
}

.genre-button.selected {
    color: #f65261;
    font-weight: bold;
  }